@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,900,800,700,600);
/*Google Serach box*/  
.search-input {
      font-family: Courier
    }
    .search-input,
    .leaflet-control-search {
      max-width: 400px;
    }

   .pac-container:after {
    background-image: none !important;
    height: 0px;
    }
/*--------------------*/
.row-m-t{
  marging-top : 5px;  margin-bottom: 10px

}

.row-l-t{
  marging-top : 5px;  margin-bottom: 20px

}


body{font-family: 'Raleway', sans-serif;}
  h2 {
  border-bottom: 10px solid red;
  font-family: 'Raleway', sans-serif;
  font-size: 65px;
  font-weight: 900;
  margin: 0 auto;
  padding: 20px 0 3px;
  text-align: center;
  text-transform: uppercase;
  width: 40.2%;
}
img {
  height: 200px !important;
}

.row.text-center p {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -0.3px;
  margin: 3px 0 30px;
  text-transform: uppercase;
}

.h3, h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.btn-default {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #fff;  
  text-shadow: 0 1px 0 #fff;
  font-family: 'Raleway', sans-serif;
}
.glyphicon {
    color: white;}
    .caption-text p {
  margin: 18px auto 13px;
  text-align: center;
  width: 91%;
}
.btn-default:focus, .btn-default:hover {
  background-color: transparent;
  background-position: 0 -15px;
}
	
  .cuadro_intro_hover{
    	padding: 0px;
		position: relative;
		overflow: hidden;
		height: 200px;
	}
	.cuadro_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-150px);
		-webkit-transform:translateY(-150px);
		-moz-transform:translateY(-150px);
		-ms-transform:translateY(-150px);
		-o-transform:translateY(-150px);
	}
	.cuadro_intro_hover img{
		z-index: 4;
	}
	.cuadro_intro_hover .caption{
		position: absolute;
		top:150px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.cuadro_intro_hover .blur{
		background-color: rgba(0,0,0,0.7);
		height: 300px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		height: 300px;
		text-align: center;
		top:-20px;
		width: 100%;
	}


    .content-box{
    background: #fff;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

    .content-tittle-box{
    background: #b6ff00;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
    
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 1px;
    border: none;
    margin-bottom: 20px;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.card:hover {
    	z-index:1000;
  box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
    margin-right:5px;
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

 .footer {
                   position: absolute;
                   right: 0;
                   bottom: 0;
                   left: 0;
                   padding: 1rem;
                   background-color: #efefef;
                   text-align: center;
               }
               .footer ul{
                  display: inline-block;
                  }
                .footerLinks ul li {
                    display: inline-block;
                }

                .footerLinks {
                    float: right;
                }

                .copyright {
                    float: left;
                }
