<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whopperbay- Find Discount,Offer, Sales from local shops</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/home/index.css" rel="stylesheet" />
    <script src="~/Scripts/Home/home.js"></script>
    @*<script src='http://maps.googleapis.com/maps/api/js?v=3&sensor=false&amp;libraries=places&key=AIzaSyCzRMviJ8nSVkrmTI0oTVWpMkovyI8QtJY'></script>*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='http://maps.googleapis.com/maps/api/js?v=3&sensor=false&amp;libraries=places&key=AIzaSyDJr3jKJ9yjVAhOtUz65JVqOmsmPoP_Jow'></script>
    <meta name="description" content="Check the discounts by location, Find the discount,sale from shop or retailers from your locality. Visit the online shop any many more at whopperbay">
    <meta name="keywords" content="Shopping,Online store,discount,sale,online shop,
        sale on Men cloths,discount by location,offers,sale on women clothes,offers on electronic items">
    <meta NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <div class="navbar navbar-custom   navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WhopperBay", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", onclick = "home()" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <center>

                <h5>Sterling Center,MG Road, Pune-01 | <a href="mailto:support@whopperbay.com" target="_top">support@whopperbay.com</a> | <a href="http://www.facebook.com/whopperbay" target="_top">www.facebook.com/whopperbay</a> | +91 9860908348 | +91 9860908348 |+91 9860908348</h5>
                <p>&copy; @DateTime.Now.Year - WhopperBay.com</p>
            </center>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>